extends layout

block content
  h2= title
  br
  form.form-horizontal(name="register", method="post")
        div.form-group
            label(for="titulo", class="col-sm-3 control-label") Título
            div.col-sm-8
              input#titulo(class="form-control", type="text", name="titulo")
        div.form-group
            label(for="plataforma", class="col-sm-3 control-label") Plataforma
            div.col-sm-8
              input#plataforma(class="form-control", type="text", name="plataforma")
        div.form-group
            label(for="genero", class="col-sm-3 control-label") Gênero
            div.col-sm-8
              input#genero(class="form-control", type="text", name="genero")
        div.form-group
            label(for="lancamento", class="col-sm-3 control-label") Ano de Lançamento
            div.col-sm-2
              input#lancamento(class="form-control", type="text", name="lancamento")
        div.form-group
            label(for="valor", class="col-sm-3 control-label") Valor
            div.col-sm-2
              input#valor(class="form-control", type="text", name="valor")
        div.form-group
            label(for="avaliacao", class="col-sm-3 control-label") Avaliação
            div.col-sm-2
              input#avaliacao(class="form-control", type="text", name="avaliacao")
        div.form-group
            label(for="comentario", class="col-sm-3 control-label") Comentário
            div.col-sm-8
              input#comentario(class="form-control", type="text", name="comentario")
        div.form-group
            div(class='col-sm-offset-3 col-sm-2')
              button(class="btn btn-default", type="submit") Cadastrar